body {
  margin: 0 20% auto;
  font-family: arial, verdana, sans-serif;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

img {
  border: 0;
}

img.edit, img.save, img.cancel, img.delete {
  cursor: pointer; cursor: hand;
}

h2.title {
  background-color: blue;
  color: white;
  padding: 0.5em 1em;
  margin-top: 3px;
}

h2 {
  margin-bottom: 4px;
}

h3.cat {
  text-align:left;
  border-bottom: 1px dotted gray;
  cursor: pointer; cursor: hand;
}

table.locale-table td {
  padding: 2px;
}

table.locale-table td.origin {
  background-color: white !important;
  color: gray;
  font-size: 85%;
  font-style: italic;
}

.glibc, .glibc-HEAD, .eglibc {
  background-color: #EEEEEE;
}

table.values, table.values th, table.values td {
  border: 1px solid gray;
  border-collapse:collapse;
  padding: 5px;
  vertical-align: top;
}

table.values th {
  text-align: left;
}

table.copy_values {
  background-color: #DDDDDD;
}
table.copy_values th, table.copy_values td {
  vertical-align: top;
}


div#login {
  float: right;
  font-size: 85%;
  font-style: italic;
}

div#head {
  text-align: center;
}

div.comment {
  text-align:left;
  font-style: italic;
  font-weight: normal;
  font-size: 80%;
  margin: 4px 0;
}

div.value {
  border: 1px solid green;
  padding: 3px;
}

div.noval {
  border: 1px solid red;
  padding: 3px 3em;
}

div.origin {
  float: right;
  text-align: right;
  font-variant: small-caps;
  font-size: 70%;
}

div.example {
  font-style: italic;
}

input#value_edit, textarea#value_edit {
  width: 100%;
  background-color: #EDF3FE;
}

.error {
  color: red;
}
