{% extends "base.html" %}

{% block title %}Error: page not found{% endblock %}

{% block content %}

<h1>Error: page not found</h1>

<p>Sorry, the requested page does not exist on this server.</p>

{% endblock %}
