{% block content %}
<h1>List of ISO 639 languages</h1>
<p><i>See also <a href="http://www.sil.org/iso639-3/">http://www.sil.org/iso639-3/</a></p>

<table>
{%for item in isolist %}
  <tr><td>{{ item.name }}</td><td>{{ item.code_639_1 }}</td><td>{{ item.code_639_2b }}</td><td>{{ item.code_639_2t }}</td><td>{{ item.code_639_3 }}</td><td>{{ item.scope }}</td><td>{{ item.lang_type }}</td><td>{{ item.comment }}</td></tr>
{% endfor %}
</table>
{% endblock %}
